# dependencies
node_modules

# build output
.next
out
dist

# environment variables
.env
.env.local
.env.*.local

# system files
.DS_Store

# logs
*.log

# TypeScript
*.tsbuildinfo

# IDEs
.vscode
.idearobostore-g1/public/movies/
/robostore-g1/public/movies/*.mp4
